.materialCardContainer {
  /* width: 297.86px; */
  height: 100%;
  margin-block: 5px;
  border-radius: 5px 5px 0 0;
}
.cardHeader {
  padding: 10px;
  margin-top: -10px;
  background-color: #53575a;
  border-radius: 5px 5px 0 0;
  width: '100%';
  font-size: 16px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeaderTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: context-menu;
}

.pathIconContainer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.underlineAnimated {
  background-color: #ffbf3c;
  width: 50%;
  height: 4;
}
